html,
body {
  height: 100%;
}
/* 
> display, direction, justify, align 옵션을 
> 아래와 같이 설정하면, 콘텐츠들이 화면 가운데 위치 
*/
body {
  font-family: sans-serif;
  background-color: #76c4c6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 
  > div에 rotate(0.5turn)으로 회전효과를 줌 
    - span에 각각 주는게 아니였음!! 
  > space-around로 간격을 띄워줌 
*/
.dots {
  width: 600px;
  display: flex;
  justify-content: space-around;
  animation: dotAnim 1s ease-in-out infinite;
}


.dot {
  background-color: white;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  
}

/* .lines {
  width: 150px;
  margin-top:4em;
  display: flex;
  justify-content: space-around;
}

/* 각각의 line에 animation 주기 */
/* .line {
  width: 20px; 
  height: 80px;
  background-color: white;
  animation: LineAnim 1s ease-in-out infinite; 
} */ 

/* 
rotate에 0.5turn으로 반바퀴 돌아가게 설정
*/
@keyframes dotAnim {
  50% {
    transform: rotate(1turn);
  }
  100% {
    transform: rotate(1turn);
  }
}

/* 
none 설정으로 크기 고정시켜야 깔끔하게 나옴
*/
@keyframes LineAnim {
  0% {
    transform: none;
  }
  25% {
    transform: scaleY(2)
  }
  50%,
  100% {
    transform: none;
  }
}

/* line 들에 각각 다른 딜레이 주기 */
.line:nth-child(2) {
  animation-delay: 0.1s;
}

.line:nth-child(3) {
  animation-delay: 0.2s;
}

.line:nth-child(4) {
  animation-delay: 0.3s;
}

.line:nth-child(5) {
  animation-delay: 0.4s;
}