@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

* {
  box-sizing: border-box;
}

.wrapper {
  background-color: white;
  width: 310px;
  padding: 50px 30px 15px 30px;
}

body {
  font-family: "Jua", sans-serif;
}

body {
  font-family: "Jua", sans-serif;
  background-color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

header {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 50px;
}

/* left 0으로 왼쪽으로 보냄  */
header i {
  position: absolute;
  top: -5px;
  left: 0;
  font-size: 28px;
}

/* 아직 h1이랑 아이콘 정렬이 불완전한데? */
h1 {
  font-weight: 500;
  font-size: 24px;
}

/* flex로 붙여준 뒤 정렬 */
.main-song {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/* 아이콘 위치 가운데 놓기 */
.main-song__cover {
  width: 110px;
  height: 110px;
  background-color: #ffbd11;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 10px;
  margin-right: 0px;
}

img {
  width: 100px;
  height: 100px;
}
